.cabecalho-principal{
    display: block;
}
.cabecalho-principal button{
    margin: 0;
}

.cabecalho-principal img{
    margin-left: -370px;
}
.menu{
    justify-content: center;
}
.menu-3{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.sub-menu{
    margin-top: 10px;
    justify-content: center ;

}

.sub-menu button{
    height: 30px;
    font-size: 15PX;
    
}


/*responsividade do menu*/

@media (max-width:1024px){
    .sub-menu button{
        width: auto;
        height: 30px;


        font-size: 10px;
        padding:auto;
    }

    .sub-menu button :hover{
        scale: 1;
    }
.menu{
margin-left:-40px;
}
.cabecalho-principal{
    height: 100px;
}

}

